<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modificar entrada</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<style>
  .center-screen {
      display: flex;
      align-items: center;
      text-align: center;
      min-height: 100vh;
      flex-direction: column;
  }
  .formulario{
      display: inline-block;
      text-align: left;
  }
  input[type=submit]{
    background-color: #53a453;
    border-radius: 5px ;
    border-color: #53a453;
    color: white;
    padding: 6px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>
<body>
<br>
<div class="center-screen">
  <h2>Modificación de la entrada</h2>
  <form class="formulario" action="#" th:action="@{/Old/entrada/update}"
        th:object="${entrada}" method="post">
    <table>
      <tr>
        <td><label>Número de entrada</label></td>
        <td><input max="number" required type="text" readonly="readonly" th:field="*{numero}"/></td>
      </tr>
      <tr>
        <td><label>Precio</label></td>
        <td><input min="0" type="number" th:field="*{precio}" step="0.01" required/></td>
      </tr>
      <tr>
        <td><label>ID Pedido</label></td>
        <td><input type="number" th:field="*{idPedido}" required/></td>
      </tr>
      <tr>
        <td><label>Tipo de entrada</label></td>
        <td> <label>
          <select th:field="*{tipo}">
            <option value='VIP'>VIP</option>
            <option value='Regular'>Regular</option>
          </select>
        </label></td>
      </tr>
      <tr>
        <td><label>Nombre festival</label></td>
        <td><input max="30" type="text" th:field="*{nombreFestival}" required/></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Modificar entrada" /></td>
        <td><a href="../list"><button type="button" class="btn btn-danger">Cancelar</button></a></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
