<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Actuación</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<style>
    .center{
        display: flex;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        flex-direction: column;
    }
</style>
<body>
<br>
<div class="center">
    <h1>Lista de Actuaciones</h1>
    <table class="table">
        <thead class="table-info">
        <tr>
            <th>ID</th>
            <th>Inicio Actuación</th>
            <th>Fin Actuación</th>
            <th>Fecha Actuacion</th>
            <th>Lugar</th>
            <th>Precio Contrato</th>
            <th>Nombre Festival</th>
            <th>ID Contrato</th>
            <th ></th>
            <th ></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actuacion: ${actuaciones}">
            <td th:text="${actuacion.id}"></td>
            <td th:text="${actuacion.inicioActuacion}"></td>
            <td th:text="${actuacion.finActuacion}"></td>
            <td th:text="${actuacion.fechaActuacion}"></td>
            <td th:text="${actuacion.lugar}"></td>
            <td th:text="${actuacion.precioContrato}"></td>
            <td th:text="${actuacion.nombreFestival}"></td>
            <td th:text="${actuacion.idContrato}"></td>
            <td ><a th:href="@{/Old/actuacion/update/{id}(id=${actuacion.id})}">
                <button type="button" class="btn btn-secondary">Editar</button>
            </a>
            </td>
            <td><a th:href="@{/Old/actuacion/delete/{id}(id=${actuacion.id})}">
                <button type="button" class="btn btn-primary">Eliminar</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a href="add">
            <button type="button" class="btn btn-info">Añadir actuación</button>
        </a>
        <a href="/static">
            <button type="button" class="btn btn-info">Volver</button>
        </a>
    </div>
</div>

</body>
</html>