<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nuevo festival</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<style>
    .center-screen {
        display: flex;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        flex-direction: column;
    }
    .formulario{
        display: inline-block;
        text-align: left;
    }
    input[type=submit]{
        background-color: #53a453;
        border-radius: 5px ;
        border-color: #53a453;
        color: white;
        padding: 6px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<body>
<br>
<div class="center-screen">
    <h2>Añadir nuevo festival</h2>
    <form class="formulario" action="#" th:action="@{/Old/festival/add}"
          th:object="${festival}" method="post">
        <table>
            <tr>
                <td><label>Nombre</label></td>
                <td><input maxlength="30" type="text" th:field="*{nombre}" required/></td>
            </tr>
            <tr>
                <td><label>Localización</label></td>
                <td><input maxlength="20" type="text" th:field="*{localizacion}" required/></td>
            </tr>
            <tr>
                <td><label>Tipo</label></td>
                <td>
                    <select th:field="*{tipoFestival}">
                        <option th:each="tipoFestival: ${tipoFestivalList}"
                                th:value="${tipoFestival}"
                                th:text="${tipoFestival}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Descripción</label></td>
                <td><input maxlength="100" type="text" th:field="*{descripcion}" required /></td>
            </tr>
            <tr>
                <td><label>Audiencia</label></td>
                <td>
                    <select th:field="*{audiencia}">
                        <option th:each="tipoAudiencia: ${tipoAudienciaList}"
                                th:value="${tipoAudiencia}"
                                th:text="${tipoAudiencia}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Capacidad</label></td>
                <td><input min="1" type="number" th:field="*{capacidad}" required /></td>
            </tr>
            <tr>
                <td><label>Edad minima</label></td>
                <td><input min="18" type="number" th:field="*{minimoEdad}" required /></td>
            </tr>
            <tr>
                <td><label>En Venta</label></td>
                <td> <label>
                    <select th:field="*{enVenta}">
                        <option value='false'>No</option>
                        <option value='true'>Si</option>
                    </select>
                </label></td>
            </tr>
            <tr>
                <td><label>Inicio</label></td>
                <td><input type="date" th:field="*{fechaIni}" required/></td>
            </tr>
            <tr>
                <td><label>Fin</label></td>
                <td><input type="date" th:field="*{fechaFin}" required/></td>
            </tr>
            <tr>
                <td><label>Promotor</label></td>
                <td><input maxlength="10" type="text" th:field="*{promotor}" required/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Agregar festival"/></td>
                <td><a href="list"><button type="button" class="btn btn-danger">Cancelar</button></a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>