<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Modificar promotor</title>
    <meta charset="UTF-8"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
<div layout:fragment="content">
    <div class="pagina_generica margen_encabezados contenedor">
        <div class="login__content">
            <div class="login__forms">


                <form class="login__register" action="#" th:action="@{/promotor/update}"
                      th:object="${promotor}" method="post">
                    <h1 class="login_title">Modificar promotor</h1>

                    <div class="compra_field">
                        <p class="login_input">Usuario</p>
                        <div class="login_box">
                            <input class="login_input" max="10" required type="text" th:field="*{usuario}" readonly/>
                        </div>
                    </div>
                    <div class="compra_field">
                        <p class="login_input">Nombre</p>
                        <div class="login_box">
                            <input class="login_input" max="30" required type="text" th:field="*{nombre}"/></div>
                    </div>
                    <div class="compra_field">
                        <p class="login_input">Contraseña</p>
                        <div class="login_box">
                            <input class="login_input" max="20" required type="text" th:field="*{pwd}"/></div>
                    </div>
                    <div class="compra_field">
                        <p class="login_input">Entidad</p>
                        <div class="login_box">
                            <input class="login_input" max="30" required type="text" th:field="*{entidad}"/>
                        </div>
                    </div>
                    <div class="compra_field">
                        <p class="login_input">DNI</p>
                        <div class="login_box">
                            <input class="login_input" max="10" required type="text" th:field="*{dni}"/></div>
                    </div>
                    <div class="compra_field">
                        <p class="login_input">Tipo organizacion</p>
                        <div class="login_box">
                            <select th:field="*{tipoOrg}" class="login_input">
                                <option value='Privado'>Privado</option>
                                <option value='Publico'>Publico</option>
                            </select>
                        </div>
                    </div>
                    <div class="compra_field">
                        <p class="login_input">Fecha inicio relacion</p>
                        <div class="login_box">
                            <input class="login_input" required type="date" th:field="*{inicioRelacion}"/></div>
                    </div>
                    <div class="compra_field">
                        <p class="login_input">Fecha fin relacion</p>
                        <div class="login_box">
                            <input class="login_input" required type="date" th:field="*{finRelacion}"/></div>
                    </div>
                    <input type="submit" value="Modificar promotor" class="login__button"/>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
