<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nueva Actuación</title>

    <!--icons-->
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<div layout:fragment="content">
    <div class="center-screen">
        <h2>Añadir nueva actuación</h2>
        <form class="formulario" action="#" th:action="@{/actuacion/add}"
              th:object="${actuacion}" method="post">
            <table>
                <tr>
                    <td><label>Inicio</label></td>
                    <td><input type="time" th:field="*{inicioActuacion}" required/></td>
                </tr>
                <tr>
                    <td><label>Fin</label></td>
                    <td><input type="time" th:field="*{finActuacion}" required/></td>
                </tr>
                <tr>
                    <td><label>Fecha</label></td>
                    <td><input type="date" th:field="*{fechaActuacion}" required /></td>
                </tr>
                <tr>
                    <td><label>Lugar</label></td>
                    <td><input max="50" type="text" th:field="*{lugar}" required /></td>
                </tr>
                <tr>
                    <td><label>Precio Contrato</label></td>
                    <td><input min="0" type="number" th:field="*{precioContrato}" step="0.01" required /></td>
                </tr>
                <tr>
                    <td><label>Nombre festival</label></td>
                    <td><input max="10" type="text" th:field="*{nombreFestival}" required /></td>
                </tr>
                <tr>
                    <td><label>Id Contrato</label></td>
                    <td><input max="20" type="text" th:field="*{idContrato}" required/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Agregar actuación" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>